
<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8" />
    <title>Login Form</title>
    <link rel="stylesheet" href="static\css\style.css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>



  </head>
  <body>

    <nav class="nav">
      <div class="nav__img">
        <h1 class="nav__logo">ARGUS FIX</h1>
      </div> 


      <div class="nav__links">
        <a th:href="@{/}" class="nav__link">Home</a>
        <a th:href="@{/about}" class="nav__link">About</a>
       
       
      </div>

      <div class="nav__buttons">
        <a th:href="@{/login}" class="nav__cta">Login</a> 
        <a th:href="@{/registro}" class="nav__cta--register">Sign up</a>
      </div>
    </nav>

    <div class="center">
      <h1>Login</h1>

      <form method="post">
        <div class="txt_field">
          <input type="text" required />
          <span></span>
          <label>Username</label>
        </div>
        <div class="txt_field">
          <input type="password" required />
          <span></span>
          <label>Password</label>
        </div>
        
        <input type="submit" value="Login" />
        <div class="signup_link">Not a member? <a href="registro.html">Signup</a></div>
      </form>
 
     
    </div>



    
    
     
       <!-- Footer-->            
       <footer id="footer"><p class="footer">Copyright &copy; ARGUSFIX® Derechos reservados</p></footer>
    </footer>

  </body>
         
  
</html>
