
<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8" />
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/style.css" />



    <title>Register Form</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

  </head>
  <body>

    <nav class="nav">
      <div class="nav__img">
        <h1 class="nav__logo"> ARGUS FIX</h1>
      </div> 


      <div class="nav__links">
        <a th:href="@{/}" class="nav__link">Home</a>
        <a th:href="@{/about}" class="nav__link">About</a>
       
       
      </div>

      <div class="nav__buttons">
        <a th:href="@{/login}" class="nav__cta">Login</a> 
        <a th:href="@{/registro}" class="nav__cta--register">Sign up</a>
      </div>
    </nav>

    <div class="center">
      <h1>Sign Up</h1>

      <form th:action="@{/usuario/registrar}" method="POST">
        <div class="txt_field">
          <input type="number" required  name="documento"/>
          <span></span>
          <label>Documento</label>
        </div>
        <div class="txt_field">
          <input type="text" required  name="nombre"/>
          <span></span>
          <label>Nombre y Apellido</label>
        </div>
        <div class="txt_field">
          <input type="password" required  name="clave"/>
          <span></span>
          <label>Password</label>
        </div> 
        <div class="txt_field">
          <input type="email" required name="email" />
          <span></span>
          <label>Email</label>
        </div> 
      
 
         
        <input type="submit" value="Sign up" />
       <!-- <a href="reparar.html"></a>-->
 
      </form>
    </div>
    <!-- Footer-->            
    <footer id="footer"><p class="footer">Copyright &copy; ARGUSFIX® Derechos reservados</p></footer>
  </footer>
  </body>
</html>

