
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="static\css\style.css" />
        <link href="/css/style.css" rel="stylesheet" type="text/css" />

        <title>Fix</title>

        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <title>Reparar</title>

    </head>
    <body>
        <nav class="nav">
            <div class="nav__img">
                <h1 class="nav__logo">ARGUS FIX</h1>
            </div>

            <div class="nav__links">
                <a th:href="@{/}" class="nav__link">Home</a>
                <a th:href="@{/about}" class="nav__link">About</a>
            </div>

            <div class="nav__buttons">
                <a th:href="@{/login}" class="nav__cta">Login</a> 
                <a th:href="@{/registro}" class="nav__cta--register">Sign up</a>
            </div>
        </nav>
        <div class="contenedor">
            <h3>Elija el equipo a reparar</h3>

            <!-- Contenedores -->

            <section class="cards">
                <div class="card">
                    <div class="card__img"></div>

                    <img
                        th:src="@{../static/img/CELULARES/smartphone.png}" id="imagen" class="img-responsive"
                        width="0"
                        height="100"
                        style="display: block; margin: 0 auto 0 auto"
                        />

                    <img src="../static/img/CELULARES/smartphone.png" /> 


                    <div class="card__texts">
                        <h2 class="card__title">Celular</h2>
                    </div>

                    <a th:href="@{/celular}" class="card__cta">Entra aqui</a>
                </div>

                <div class="card">
                    <div class="card__img"></div>

                    <img
                        src="static\img\EQUIPOS\COMPUTADORAS\pngwing.com.png"
                        width="0"
                        height="100"
                        style="display: block; margin: 0 auto 0 auto"
                        />

                    <img src="../static/img/EQUIPOS/COMPUTADORAS/pngwing.com.png" />

                    <div class="card__texts">
                        <h2 class="card__title">Computadora</h2>
                    </div>

                    <a href="../templates/computadora.html" class="card__cta">Entra aqui</a>
                </div>

                <div class="card">
                    <div class="card__img"></div>

                    <img
                        src="static\img\EQUIPOS\SMART TV\television.png"
                        width="0"
                        height="100"
                        style="display: block; margin: 0 auto 0 auto"
                        />

                    <img src="../static/img/EQUIPOS/SMART TV/smart-tv.png" />

                    <div class="card__texts">
                        <h2 class="card__title">Smart TV</h2>
                    </div>

                    <a href="smarttv.html" class="card__cta">Entra aqui</a>
                </div>

                <div class="card">
                    <div class="card__img"></div>

                    <img
                        src="static\img\EQUIPOS\TABLETS\tablet.png"
                        width="0"
                        height="100"
                        style="display: block; margin: 0 auto 0 auto"
                        />

                    <img src="../static/img/EQUIPOS/TABLETS/tablet.png" />

                    <div class="card__texts">
                        <h2 class="card__title">Tablets</h2>
                    </div>

                    <a href="../templates/tablet.html" class="card__cta">Entra aqui</a>
                </div>
            </section>

            <footer id="footer">
                <p class="footer">Copyright &copy; ARGUSFIX® Derechos reservados</p>
            </footer>
        </div>
    </body>
</html>
