
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <title>Fix</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav__img">
        <h1 class="nav__logo">ARGUS FIX</h1>
      </div>

      <div class="nav__links">
        <a th:href="@{/}" class="nav__link">Home</a>
        <a th:href="@{/about}" class="nav__link">About</a>
      </div>

      <!-- <div class="nav__buttons">
        <a href="login.html" class="nav__cta">Login</a>
        <a th:href="@{/registro}" class="nav__cta--register">Sign up</a>
      </div> -->
    </nav>
    <div class="contenedor">
      <h3>Smart-tv</h3>

      <!-- Contenedores -->

      <section class="cards">
        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/SMART TV/MARCAS/LG.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">LG</h2>
          </div>

          <a href="LG.mod.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/SMART TV/MARCAS/Philips.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Philips</h2>
          </div>

          <a href="Philips.mod.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/SMART TV/MARCAS/Samsung.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Samsung</h2>
          </div>

          <a href="Samsung.mod.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/SMART TV/MARCAS/Sony.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Sony</h2>
          </div>

          <a href="Sony.mod.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/SMART TV/MARCAS/TCL.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">TCL</h2>
          </div>

          <a href="TCL.mod.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/SMART TV/MARCAS/HIsense.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">HIsense</h2>
          </div>

          <a href="HIsense.mod.html"class= "card__cta">Entra aqui</a>
        </div>

       

    <!-- Footer-->            
    <footer id="footer"><p class="footer">Copyright &copy; ARGUSFIX® Derechos reservados</p></footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>