<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/style.css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>

    <title>Fix</title>
  </head>
  <body>
    <nav class="nav">
      <div class="nav__img">
        <h1 class="nav__logo">ARGUS FIX</h1>
      </div>

      <div class="nav__links">
        <a th:href="@{/}" class="nav__link">Home</a>
        <a th:href="@{/about}" class="nav__link">About</a>
      </div>

      <div class="nav__buttons">
        <a href="login.html" class="nav__cta">Login</a>
        <a th:href="@{/registro}" class="nav__cta--register">Sign up</a>
      </div>
    </nav>
    <div class="contenedor">
      <h3>TABLETS</h3>

      <!-- Contenedores -->

      <section class="cards">
        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/TABLETS/MARCAS/Acer.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Acer</h2>
          </div>

          <a href="registro_tablet.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/TABLETS/MARCAS/ADmiral.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Admiral</h2>
          </div>

          <a href="registro_tablet.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/TABLETS/MARCAS/Asus.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Asus</h2>
          </div>

          <a href="registro_tablet.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/TABLETS/MARCAS/BGH.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">BGH</h2>
          </div>

          <a href="registro_tablet.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/TABLETS/MARCAS/Dell.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Dell</h2>
          </div>

          <a href="registro_tablet.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/TABLETS/MARCAS/Lenovo.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Lenovo</h2>
          </div>

          <a href="registro_tablet.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/TABLETS/MARCAS/Huawei.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Huawei</h2>
          </div>

          <a href="registro_tablet.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/TABLETS/MARCAS/Exo.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Exo</h2>
          </div>

          <a href="registro_tablet.html" class="card__cta">Entra aqui</a>
        </div>

        <div class="card">
          <div class="card__img"></div>

          <img
            src="../static/img/EQUIPOS/TABLETS/MARCAS/Samsung.png"
            width="100"
            height="100"
            style="display: block; margin: 0 auto 0 auto"
          />

          <div class="card__texts">
            <h2 class="card__title">Samsung</h2>
          </div>

          <a href="registro_tablet.html" class="card__cta">Entra aqui</a>

    <!-- Footer-->            
    <footer id="footer"><p class="footer">Copyright &copy; ARGUSFIX® Derechos reservados</p></footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
  </body>
</html>